<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Face++</title>
    <!-- import Vue.js -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #canvas {
            border: dashed 2px blue;
        }

        #canvas2 {
            border: dashed 2px blue;
        }
    </style>
</head>

<body>
    <!-- <input id="upload" type="file" accept="image/*;" capture="camera"> -->
    <div id="app">
        <Row type="flex" justify="center" class="code-row-bg">
            <i-col span="8">
                <canvas id="canvas" width="640" height="480"></canvas>
            </i-col>
            <i-col span="8">
                <video id="video" width="640" height="480" autoplay></video>
            </i-col>
            <i-col span="8" v-if="func == 'insert'">
                <canvas id="canvas2" width="640" height="480"></canvas>
            </i-col>
        </Row>

        <Row type="flex" justify="center" class="code-row-bg">
            <i-col span="4">
                <i-select v-model="func" style="width:200px">
                    <i-option :value="'search'">查询</i-option>
                    <i-option :value="'insert'">录入</i-option>
                </i-select>
                <i-button type="primary" @click="snap">拍照</i-button>
                <i-input v-model="rel" placeholder="输入关系.." style="width: 300px" v-if="func == 'insert'"></i-input>
                <i-input v-model="name1" placeholder="name1" style="width: 300px" v-if="func == 'insert'"></i-input>
                <i-input v-model="name2" placeholder="name2" style="width: 300px" v-if="func == 'insert'"></i-input>
            </i-col>
        </Row>
    </div>
    <script>
        new Vue({
            el: '#app',
            mounted: function () {
                window.addEventListener("DOMContentLoaded", function () {
                    // Grab elements, create settings, etc.
                    var video = document.getElementById('video');

                    // Get access to the camera!
                    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                        // Not adding `{ audio: true }` since we only want video now
                        navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                            video.src = window.URL.createObjectURL(stream);
                            video.play();
                        });
                    }
                });
            },
            data: {
                visible: false,
                func: 'search',
                rel:'',
                name1:'',
                name2:'',
                canvas1: false,
                canvas2: false,
                sended:false
            },
            methods: {
                snap: function () {
                    var that = this;
                    if (!this.canvas1) {
                        var canvas = document.getElementById('canvas');
                        var context = canvas.getContext('2d');
                        var video = document.getElementById('video');

                        context.drawImage(video, 0, 0, 640, 480);
                        this.canvas1 = true;

                        if (this.canvas1 && this.func == 'search') {
                            console.log("post");
                            var canvas = document.getElementById('canvas');
                            let dataurl = canvas.toDataURL();
                            var data = dataurl.substring(22, dataurl.length);
                            console.log(data);
                            $.ajax({
                                type: "POST",
                                url: 'http://localhost:3000/search',
                                data: {
                                    img1: data
                                }
                            });
                            return;
                        }
                        return;
                    }

                    if (this.canvas1 && this.func == 'insert' && !this.canvas2) {
                        var canvas = document.getElementById('canvas2');
                        var context = canvas.getContext('2d');
                        var video = document.getElementById('video');

                        context.drawImage(video, 0, 0, 640, 480);
                        this.canvas2 = true;

                        if(this.canvas1 && this.func == 'insert' && this.canvas2){
                            var _canvas1 = document.getElementById('canvas');
                            var _canvas2 = document.getElementById('canvas2');

                            var dataurl1 = _canvas1.toDataURL();
                            var data1 = dataurl1.substring(22, dataurl1.length);

                            var dataurl2 = _canvas2.toDataURL();
                            var data2 = dataurl2.substring(22, dataurl2.length);
                            $.ajax({
                                type: "POST",
                                url: 'http://localhost:3000/insert',
                                data: {
                                    img1: data1,
                                    img2: data2,
                                    name1: that.name1,
                                    name2: that.name2,
                                    rel: that.rel
                                }
                            }, 1000);

                        }
                    }
                }
            }
        })
    </script>
</body>

</html>